@import '~bootstrap/scss/bootstrap';

body {
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

option {
  padding: 100px;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1528818955841-a7f1425131b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80');
  background-size: cover;
}

.overlay {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4)
}

.message-display {
  font-size: 20px;
}

.site-title {
  font-size: 100px;
  padding-top: 30vh;
  font-family: 'Poiret One', sans-serif;

}

.l {
  color: rgba(200, 100, 255, 0.7);
}

.o {
  color: rgba(200, 0, 150, 0.7)
}

.c {
  color: rgba(50, 50, 200, 0.7);
}

.u {
  color: rgba(100, 100, 200, 0.7);
}

.s {
  color: rgba(200, 200, 255, 0.7)
}

.tagline {
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  font-family: 'Poiret One', sans-serif;
}

.go-back a {
  color: white;
  font-family: 'Poiret One', sans-serif;
}

.show-sign-up, .show-sign-in {
  font-size: 16px;
  line-height: 160px;
  margin: 0 40px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-family: 'Poiret One', sans-serif;
}

.show-sign-up a, .show-sign-in a {
  color: #dcd7ff;
}

.sign-up-form,
.sign-in-form,
.change-password-form,
 {
   padding-top: 30vh;
}

.sign-up-form input,
.sign-in-form input,
.change-password-form input {
  margin: 4px auto;
  padding: 5px;
  display: block;
  width: 350px;
}

nav {
  height: 50px;
  padding-top: 5px;
  background-color: black;
}

.logo {
  height: 30px;
  width: 35px;
  margin: 7px;
  float: left;
  cursor: pointer;
}

nav img {
  float: left;
}

nav a, nav form input{
  float: right;
  margin: 7px 10px;
  color: #17a2b8
}

a {
  color: #17a2b8;
}

.time {
  display: block;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.4)
}

.date {
  display: block;
  padding-top: 200px;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.4)
}
.welcome-message {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-family: 'Courgette', sans-serif;
  margin-top: 175px;
}

.content {
  color: #2e3c2c;
  background-color: #d2d2d2;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
  border: 1px solid white;
  border-radius: 10px;
}

.create-goal-form, .update-goal-form {
  background-color: #d2d2d2;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.get-goal-form {
  background-color: #04020e;
  width: 375px;
  margin: 0 auto;
}

h3 {
  font-size: 20px;
  text-align: left;
  padding: 7px;
}

.create-resource-title,
.create-resource-description,
.update-resource-title,
.update-resource-description {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.resource {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  color: #2e3c2c;
}

.btn {
  font-size: 14px;
  padding: 1px 2px;
  color: #232323;
  width: 200px;
}

.sign-out-btn {
  background-color: transparent;
  border: none;
  margin: 7px 10px;
}

.form-header {
  color: #2e3c2c;
}

label {
  text-align: left;
}

.create-resource-bottom-row {
  display: flex;
  justify-content: space-around;
  padding: 12px;
}

.resource-bottom-row {
  display: flex;
  justify-content: space-around;
  padding: 12px;
}

.remove-btn, .update-btn, .create-btn {
  font-size: 17px;
  padding: 7px;
}


.resource-description {
  font-size: 12px;
}
