@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Poiret One', serif;
  font-weight: bold;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1528818955841-a7f1425131b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80');
  background-size: cover;
  background-position: center center;
}

.overlay {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4)
}

.title {
  font-size: 100px;
  // font-family: helvetica;
  padding-top: 30vh;
}

.time {
  width: 800px;
  font-size: 100px;
  border-radius: 20px;
  margin: 200px auto 0 auto;
  display: block;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.4)
}

.l {
  color: rgba(200, 100, 255, 0.7);
}

.o {
  color: rgba(200, 0, 150, 0.7)
}

.c {
  color: rgba(50, 50, 200, 0.7);
}

.u {
  color: rgba(100, 100, 200, 0.7);
}

.s {
  color: rgba(200, 200, 255, 0.7)
}

.tagline {
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
}

.go-back a {
  color: white;
}

.show-sign-up, .show-sign-in {
  font-size: 16px;
  line-height: 160px;
  margin: 0 40px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.show-sign-up a, .show-sign-in a {
  color: #dcd7ff;
}

.sign-up-form,
.sign-in-form,
.change-password-form,
 {
   padding-top: 30vh;
}

.sign-up-form input,
.sign-in-form input,
.change-password-form input {
  margin: 4px auto;
  padding: 5px;
  display: block;
  width: 350px;
}

nav {
  height: 50px;
  padding-top: 5px;
  background-color: black;
}

.logo {
  height: 25px;
  width: 30px;
  margin: 7px;
  float: left;
  cursor: pointer;
}

nav img {
  float: left;
}

nav a, nav form input{
  float: right;
  margin: 7px 10px;
  color: #17a2b8
}

.sign-out-btn {
  background-color: transparent;
  border: none;
  margin: 7px 10px;
}

.content {
  background-color: #000000ad;
  width: 800px;
  margin: 0 auto;
  border-radius: 5px;
}

.goal {
  border: 1px solid #292929;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.goals-template-header {
  padding-top: 30px;
  color: #17a2b8;
}

.message-display {
  font-size: 20px;
}

.id-header {
  width: 55px;
  padding-left: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

.description {
  font-size: 14px;
}

.create-btn,
.show-btn,
.update-btn,
.remove-btn {
  background-color: #006879a6;
  color: white;
}

.create-goal-form h3,
.get-goal-form h3,
.update-goal-form h3 {
  text-align: center;
  font-size: 18px;
}

.goal-forms {
  width: 370px;
  margin: 0 auto;
  padding: 20px;
}

.goal-forms input {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.welcome-message {
  display: block;
  color: white;
  font-size: 24px;
  font-family: 'IM Fell Double Pica', serif;
}

section {
  text-align: left;
}

@media (max-width: 800px) {
  .title {
    font-size: 60px;
  }
  .time {
    font-size: 60px;
    width: auto;
  }
  .welcome-message {
    font-size: 12px;
  }
  .content {
    width: 370px;
  }
}

.id {
  font-size: 12px;
}
